/* Általános stílusok */
body {
    font-family:  'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #e6c15c;/* Általános stílusok */



    /* Fő cím stílus (h1) */
h1 {
    font-size: 45px; /* Fő cím nagyobb mérete */
    font-weight: bold;
    text-align: center;
    color: #e6c15c;
    border: 3px solid #5a3d2b;
    border-radius: 8px;
    padding: 10px;
    -webkit-text-stroke: 2px #5a3d2b ;
}

   /* Fő cím stílus (h1) */
h2  {
    font-size: 25px; /* Fő cím nagyobb mérete */
    font-weight: bolder;
    text-align: left;
    color: #e6c15c;

    -webkit-text-stroke: 1px #5a3d2b ;
}

h3  {
    font-size: 25px; /* Fő cím nagyobb mérete */
    font-weight: bolder;
    text-align: center;
    color: #e5771e;
    -webkit-text-stroke: 1px #5a3d2b ;
}




/* Tartalom konténer */
.container {
    display: flex;
    justify-content: center; /* Középre helyezi a fő tartalmat */

}

/* Oldalsáv stílus */
.sidebar {
    width: 250px; /* Oldalsáv szélessége */
    background-color: #e5771e; /* Oldalsáv háttérszíne */
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative; /* Hozzáadjuk a pozicionálást */
}

/* Fő tartalom stílus */
.main-content {
    flex-grow: 1; /* A fő tartalom kitölti a maradék helyet */
    max-width: 800px; /* Maximális szélesség a fő tartalomhoz */
    padding: 20px;
    background-color: #f4a127; /* Fő tartalom háttérszíne */

    margin-left: 20px; /* Különbség az oldalsáv és a fő tartalom között */
    
}

/* Projektek galéria */
.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #fff3e0;
    padding: 10px;
    border: 2px solid #5a3d2b;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project p {
    margin-top: 10px;
    font-size: 18px;
    color: #5a3d2b;
}



/* Szekciók stílusai */
section {
    margin-bottom: 20px; /* Szekciók közötti távolság */
}

#random-user {
    margin: 20px 0;
    padding: 20px;
    background-color: #e6c15c;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    border: 3px solid #5a3d2b;
    border-radius: 8px;
    text-align: center;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-info img {
    border: 5px solid #5a3d2b; /* Zöld színű keret */
    object-fit: cover; /* A kép megfelelően illeszkedjen a keretbe */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

}

