/* Általános stílusok */
body {
    font-family:  'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #efefe9;/* Általános stílusok */



    /* Fő cím stílus (h1) */
h1 {
    
    font-size: 50px; /* Fő cím nagyobb mérete */
    font-weight: bold;
    text-align: center;
    color: #223030;
    border: 3px solid #223030;
    border-radius: 8px;
    padding: 10px;
    
}

   /* Fő cím stílus (h1) */
h2  {
    font-size: 25px; /* Fő cím nagyobb mérete */
    font-weight: bolder;
    text-align: left;
    color: #223030;

    
}

h3  {
    font-size: 25px; /* Fő cím nagyobb mérete */
    font-weight: bolder;
    text-align: center;
    color: #223030;
    
}


img {
    max-width: 100%; /* A képek ne legyenek szélesebbek a konténerüknél */
    height: auto; /* A képarány megőrzése */
}

.sidebar {
    width: 100%; /* Oldalsáv mobilon teljes szélességű */
}

.main-content {
    width: 100%; /* Fő tartalom is teljes szélességű */
}




/* Tartalom konténer */
.container {
    display: flex;
    justify-content: center; /* Középre helyezi a fő tartalmat */

}

/* Oldalsáv stílus */
.sidebar {
    width: 250px; /* Oldalsáv szélessége */
    background-color: #bba58f; /* Oldalsáv háttérszíne */
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    position: relative; /* Hozzáadjuk a pozicionálást */
}

/* Képek stílusa az oldalsávban */
.sidebar-images {
    display: flex;
    flex-direction: column; /* Képek egymás alatt */
    align-items: center;    /* Középre igazítás */
    gap: 105px;              /* Képek közötti távolság */
}
.sidebar-images img {
    width: 200px;
    height: auto;
    object-fit: cover;
    
    
}

.sidebar-images img:first-child {
    margin-top: 80px; /* Növeld ezt az értéket a kívánt távolság alapján */
}


/* Fő tartalom stílus */
.main-content {
    flex-grow: 1; /* A fő tartalom kitölti a maradék helyet */
    max-width: 800px; /* Maximális szélesség a fő tartalomhoz */
    padding: 20px;
    background-color: #efefe9; /* Fő tartalom háttérszíne */

    margin-left: 20px; /* Különbség az oldalsáv és a fő tartalom között */
    
}

/* Projektek galéria */
.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background-color: #e8d9cd;
    padding: 10px;
    border: 3px solid #223030;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project p {
    margin-top: 10px;
    font-size: 30px;
    color: #223030;
   

}



/* Szekciók stílusai */
section {
    margin-bottom: 20px; /* Szekciók közötti távolság */
}

#random-user {
    margin: 20px 0;
    padding: 20px;
    background-color: #e8d9cd;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    border: 3px solid #223030;
    border-radius: 8px;
    text-align: center;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-info img {
    border: 5px solid #223030; /* Zöld színű keret */
    object-fit: cover; /* A kép megfelelően illeszkedjen a keretbe */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

}

